{% load static %}

<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static '/img/logo.png' %}" alt="ardu1na">
        </div>

        <h1>Development Studio</h1>
        <h2><span class="typed" data-typed-items="soluciones digitales, sitios web dinámicos, software a medida, consultoría en sistemas"></span></h2>
        <div class="actions">
          <a href="#services" class="btn-get-started">Servicios</a>
          <a href="#contact" class="btn-services">Contacto</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

